body {
    background-color: #fafafa;
 }
 
 /*JUMBOTRON*/
 .jumbotron {
    background-color: palevioletred;
    background-repeat: no-repeat;
    background-position: center;
    -webkit-background-size: cover;
    background-size: cover;
     color: white;
 }
 
 .jumbotron h1 {
    font-family: 'Gravitas One', cursive;
    font-size: 80px;
 }
 
 .jumbotron p {
     font-family: 'Open Sans', sans-serif;
 }

 
 table {
float:left;
 text-align: center;
 width: 100px;
 padding-left: 0 auto;
 }
 
 td {
    text-align:center;
 }

 
 
 #inputgroup {
  border: 5px solid white;
  width: 60%;
  box-shadow: 14px 14px pink;
  background-color:black;
  color: white;
  float:right;
  left: 155px;
  
 }
 
 p {
  text-shadow: 3px 3px 5px black, 0 0 25px plum, 0 0 5px palevioletred;
 
 }

 label {
     color:white;
     font-weight: bold;
     text-align: center;
     left: 20px;
 }

 input {
    color: white;
    font-weight: bold;
 }

 td {
    color: black;
    font-weight: bold;
 }

